html{
    
}

body{
    background-color: rgb(255,209,158);
    color: white;
    font-family: sans-serif;
}

#wrapper{

}

#banner{
    background-color: rgb(87,85,74);
    font-size: 36px/*72px*/;
    line-height: 40px/*50px*/;
}

#primarylinks{
    background-color: rgb(102,125,116);
}

.horizontalmenu{
    list-style-type: none;
    text-align: center;
    font-variant: small-caps;
    font-size: 18px;
}

#leftside{
    background-color: rgb(132,150,120);
}

#sbs1{
    min-height: 560px;
}

#rightside{
    background-color: rgb(199,165,123);
}

